<form class="product" #form="ngForm" (ngSubmit)="sendApproval()" >
    <div>
        <label for="productName"> Name </label>
        <input type="text" name="productName" id="productName" [(ngModel)]="product.name" required>
    </div>

    <div>
        <label for="productAmount"> Amount </label>
        <input type="number" name="productAmount" id="productAmount" [(ngModel)]="product.amount" required min="1">
    </div>
    <button id="product-btn-aprroval" type="submit" [disabled]="form.invalid"> Ask Approval </button>

</form>
